*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}
html{
    scroll-behavior: smooth;
}
/* Shared styles*/
.primary-btn{
    background-color: #FF900E;
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 10px 18px;
    border-radius: 8px;
    border: 0;
}
.primary-btn:hover{
    background-color: #FFFFFF;
    color: #131313;
    transition: all;
    transition: 0.5s;
    cursor: pointer;
}
/* Header Styles */
header{
    background-color: #EED9C0;
    padding: 10px 170px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-weight: bold;
    font-size: 35px;
    color: #131313;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    margin-left: 25px;
}
nav ul li a{
    color: #424242;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}
nav ul li a:hover{
    color: rgb(22, 170, 170);
}
/* Banner Styles */
.banner-content{
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
    margin-top: 45px;
}
.banner-content h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #131313;
}
.banner-content p{
    color: #727272;
    font-size: 16px;
    margin-bottom: 30px;
}
.banner{
    margin: 0 auto;
    width: 100%;
}
.banner img{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 30px;
}













































































/*Responsiv styels */
@media screen and (max-width:576px){
    header {
        padding: 15px;
    }
    nav{
        flex-direction: column;
        gap: 15px;
    }
    .banner img{
        width: 100%;
    }
}
